.input-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 2px solid rgba(0, 0, 0, 0);
  background-color: #ebebeb;
  min-width: 400px;
}

.input-box label {
  text-transform: uppercase;
  font-size: 0.75rem;
}

.input-box input[type="text"],
.input-box input[type="password"] {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  font-size: 1.5rem;
  outline: none;
  width: 100%;
}

.input-box:hover,
.input-box:has(input:focus) {
  border-color: #333;
}

.input-box:has(input:focus) {
  outline: 1px solid #333;
}

@media (width <= 430px) {
  .input-box {
    min-width: max-content;
  }
}
