.textarea-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 2px solid rgba(0, 0, 0, 0);
  background-color: #ebebeb;
  min-width: 400px;
}

.textarea-box label {
  text-transform: uppercase;
  font-size: 0.75rem;
}

.textarea-box textarea {
  resize: none;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  font-size: 1.5rem;
  outline: none;
  width: 100%;
}

.textarea-box:hover,
.textarea-box:has(textarea:focus) {
  border-color: #333;
}

.textarea-box:has(textarea:focus) {
  outline: 1px solid #333;
}

/* Dark mode */

.dark .textarea-box {
  color: #333;
  background-color: #d9d9d9;
}

@media (width <= 430px) {
  .textarea-box {
    min-width: max-content;
  }
}
