.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: #ebebeb;
  position: relative;
  overflow: hidden;
}

.todo-item:hover {
  border-radius: 0;
  background-color: #d9d9d9;
}

.todo-item-checkbox svg {
  cursor: pointer;
  font-size: 2rem;
}

.todo-item-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 0.25rem;
}

.todo-item-title {
  text-transform: uppercase;
  font-weight: 700;
}

.todo-item-description {
  font-size: 0.75rem;
}

.todo-item.complete {
  opacity: 0.5;
}

.todo-item-info-line {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  font-size: 0.5rem;
}

.todo-item-info-line svg {
  margin-top: -1px;
}

.todo-item-options {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  color: #fff;
  background-color: #b22222;
  transform: translateX(100%);
  transition: transform 0.3s;
}

.todo-item:hover .todo-item-options,
.todo-item-options:has(button:focus) {
  transform: translateX(0);
}

@media (width <= 430px) {
  .todo-item-options {
    position: static;
    padding: 0.5rem 1rem;
    transform: translateX(0);
    color: #333;
    background: none;
  }
}
