.modal {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #fff;
  position: relative;
}

.modal-btn {
  position: absolute;
  top: -1.75rem;
  right: -1.75rem;
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
}

.modal-btn svg {
  font-size: 1.25rem;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 80%);
}

/* Dark mode */

.dark .modal {
  color: #fff;
  background-color: #333;
  border: 1px solid #fff;
}
