main.login-page {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

@media (width <= 430px) {
  main.login-page h2 {
    text-align: center;
  }
  main.login-page {
    padding: 0 1rem;
  }
}
