.list-page {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

@media (width <= 430px) {
  .list-page {
    flex-direction: column;
    align-items: stretch;
    gap: 1rem;
  }
}
